<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Surname1:</strong>
    <%= profile.surname1 %>
  </p>

  <p>
    <strong>Surname2:</strong>
    <%= profile.surname2 %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= profile.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= profile.city %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= profile.province %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= profile.country %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= profile.postal_code %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= profile.phone %>
  </p>

  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

</div>
